<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Artist</mat-label>
        <input matInput [(ngModel)]="data.artist">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Song Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Duration</mat-label>
        <input matInput [(ngModel)]="data.duration">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Album</mat-label>
        <input matInput [(ngModel)]="data.album">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" mat-dialog-close>No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>